/*
 * Estilos de tu proyecto
 */

 body {
  /* Establece la fuente de Google aquÃ­ */
  font-family: 'Montserrat',Helvetica,Arial,sans-serif;
  margin: 0 auto;
  font-size: 14px;
  line-height: 1.71429;
  background-color: #FFF;
}

nav {
  position: fixed;
  background: #2C3E50;
  width: 100%;
  right: 0;
}

img {
  vertical-align: middle;
}

a {
  color: #FFF;
  text-decoration: none;
  padding: 10px 15px;
  letter-spacing: 1px;
}

a:hover {
  color: #18BC9C;
}

.link {
  font-weight: 700;
  font-size: 13px;
  margin-top: 28px;
}

.boostrap {
  padding: 25px 0;
  font-weight: bold;
  font-size: 28px;
}

.boostrap:hover {
  color: white;
}

#principal {
  background: #18BC9C;
}

.profile {
  height: auto;
  max-width: 100%;
}

.name {
  font-size: 4.75em;
  color: white;
}

hr.star {
  color: #FFF;
  border: 4px solid white;
  height: 4px;
  margin-bottom: 30px;
}

hr.star::after {
  background-color: #18BC9C;
  color: #fff;
}

hr.star2 {
  color: white;
  border: 4px solid #2C3E50;
  height: 4px;
  margin-bottom: 30px;
}

hr.star2::after {
  background-color: #fff;
  color: #2C3E50;
}

hr.star::after, hr.star2::after {
  content: "\f005";
  font-family: FontAwesome;
  display: inline-block;
  position: relative;
  top: -.8em;
  font-size: 2em;
  padding: 0 .25em;
}

section.row + p {
  color: white;
}

.name2 {
  font-size: 2.8em;
  color: inherit;
  font-weight: bold;
}

.img-pad {
  padding: 15px 30px;
}

#about {
  background: #18BC9C;
}

p.col-3 {
  color: white;
  font-size: 16px;
  text-align: justify;
  padding: 20px 20px;
}

.btn-home{
  color: #FFF;
  border: 2px solid #FFF;
  padding: 11px 20px;
  border-radius: 6px;
  font-size: 16px;
}
